*{
    margin: 0 ;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
img{
    cursor: pointer;
}
.youtubelogo{
    width: 90px;
    height: 25px;
}
.signin-icon
{
position: absolute;
left: 95%;
bottom: 30%;
}
.bell-icon
{
position: absolute;
left: 90%;
bottom: 30%;
}
.search-icon
{
position: absolute;
left: 58%;
bottom: 17px;
}
.search
{
    /* align-items: center; */
    position: absolute;
    left: 30%;
    top: 15%;
    width: 400px;
}
.micro-phone
{
    position: absolute;
    left: 65%;
    bottom: 30%;  
}
.home-icon{
    width: 0px;
    height: 30px;
    padding-left: 1%;
}
.shorts-icon{
    width: 0px;
    height: 30px;
    padding-left: 1%;
}
.subscription-icon{
    width: 0px;
    height: 30px;
    padding-left: 1%;
}
.library-icon{
    width: 0px;
    height: 30px;
    padding-left: 1%;
}
